Wallet Created Successfully!

Name: {{.Name}}
ID: {{.ID}}
Created: {{.CreationTime.Format "2006-01-02 15:04:05"}}

!!! Important: Save your mnemonic phrase securely:
{{.Mnemonic}}

This will be the only time the mnemonic is displayed.
